<style>
  a {
    text-decoration: none;
  }
</style>

{% load static %}
<!DOCTYPE html>
<html lang="ja">
<link href="{% static 'css/style.css' %}" rel="stylesheet"> 
<link href="{% static 'images/reitter_l.ico' %}" rel="icon"> 
<title>reitter:お問い合わせ</title>

<body>
<h1>
  <a href="../../"><div style="text-align: center"><p style="background-color:#00FFFF"><font color = "white"><big>・・・Reitter🕊・・・</big></font></p></div></a>
</h1>

<a href ="../">retter:トップ</a> > お問い合わせ

<p class="otoiawase">お問い合わせ</p>

<form method="post">
  {% csrf_token %}
  <body>
    <div>
      <label for="name"><big>　  名 　　前 　:</big></label>
      <input type="text" name="name" id="name" />
    </div>
    <br>
    <div>
      <label for="email"><big>メールアドレス:</big></label>
      <input type="email" name="email" id="email" />
    </div>
    <br>
    <div>
      <label for="subject"><big>　  要 　　件 　:</big></label>
      <input type="text" name="subject" id="subject" />
    </div>
    <br>
    <button type="submit" class="sousin"><big>送信</big></button>
  </body>
</form>
<h2>
  <div style="text-align: center"><p style="background-color:#00FFFF"><font color = "white">2024@reitter:contact</font></p></div>
</h2>
</body>